# Ignore the data folder
/data/

# Ignore DS_Store files
.DS_Store

# Ignore virtual environment folder named myenv
myenv/

# Ignore node_modules for JavaScript projects
node_modules/

# Ignore Svelte/JavaScript build output
dist/
build/

# Ignore log files
*.log

# Ignore npm debug file
npm-debug.log*
